<p style="color: green"><%= notice %></p>

<%= render @bus %>

<div>
  <%= link_to "Edit this bus", edit_bus_path(@bus) %> |
  
  <br/>
  <br/>

  <%= button_to "Destroy this bus", @bus, method: :delete %>
</div>
